* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* overflow: hidden; */
    background-color: bisque;
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-size: 50px;
    padding-bottom: 30px;
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
}

ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

li {
    padding: 5px, 10px;
}

#addNew {
    text-decoration: none;
    padding-bottom: 30px;
}

#delete {
    float: right;
}

.foodItems {
    color: black;
    text-decoration: none;
}