<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %>'s Pantry</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>User Details</h1>
    <h2><%= user.username %></h2>
    <h3>Pantry Items:</h3>
    <ul>
        <% user.pantry.forEach((item) => { %>
         <li><%= item.food %></li>
        <% }) %>
    </ul>
    <a href="/socials">Back to Community</a>
</body>
</html>