<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <title>Dog's everywhere</title>
</head>
<body>
    
    <h1>Welcome to Dog's Everywhere!</h1>
    <img id="homeDog" src="/images/72727694.jpg" alt="An AI generated portrait of a Belgian Malinois dog">
    <p>A place to view all the dogs.</p>
    <button><a href="/dogs" class="no-underline">Browse dog breeds</a></button>
</body>
</html>