<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/home.css">
    <title>Dog's everywhere</title>
</head>
<body>
    <a href="/dogs">Browse dog breeds</a>
    <h1>Welcome to Dog's Everywhere!</h1>
    <p>A place to view all the dogs.</p>
</body>
</html>