<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <title>Edit Dog</title>
</head>
<body>
    <h1>Edit Dog</h1>
    <form action="/dogs/<%= dog._id %>?_method=PUT" method="post">
        <label>
            Breed:
            <!-- <input type="text" name="name"> -->
             <input name="name" value="<%= dog.name %>">
        </label>

        <label>
            Ready to take home?
            <input type="checkbox" name="isReadyToTakeHome" <%= dog.isReadyToTakeHome && 'checked' %>>
        </label>
        <button type="submit">Update Dog</button>
    </form>
    <div  id="nav">
    <button><a href="/dogs/">Back to Dogs</a></button>
</div>
</body>
</html>