* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* overflow: hidden; */
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);  */
    background: #7A9E9F;
}

h1 {
    /* padding-top: 175px; */
    padding-bottom: 30px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #EEF5DB;
}

form {
    padding-top: 25px;
    padding-bottom: 25px;
}

button {
    background-color: #4F6367;
    border-radius: 10%;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 15px;
}

div {
    /* padding-top: 25px; */
    color: #EEF5DB;
}
#nav {
    background-color: #4F6367;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    border-radius: 10%;
    
}

button:hover {
    cursor: pointer;
}

a.no-underline {
    text-decoration: none;
    color: #EEF5DB;
}

label {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #EEF5DB;
}

input {
    background-color: transparent;
}

#create {
    color: #EEF5DB;
}