section {
    display: flex;
  }
  
  section .weather {
    border: 1px solid #ccc;
    flex: 1;
    padding: 10px;
    text-align: center;
  }

  h1 {
    display: flex;
    justify-content: center;
  }
  
  .weather span {
    font-weight: bold;
  }
  